
.h1{
    text-align: center;
  }
  
  
.Field{
    
    margin-left: 10px;
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 10px;
    width: 100px;
    font-size: 14px;
    border-radius: 30px;
    border: 3px solid #009879;
   
     
}
#button {

        background: #ecf0f3;
        color: black;
        border-radius: 40px;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin-left: 10px;
        cursor: pointer;
        
       
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
  }



#button:hover {
    background: #009879;
    color: white;
    border-radius: 40px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    border: white;

}


label{
   margin-left: 6px;
}
 
 .inputs {
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: row;
   margin-top: 30px;
   margin-left: 10px;
 }
 
 
  .table1{
    display: flex;
    justify-content: center;
  } 

  .content-table{
  
    
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 600px;
    border-radius:  5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
  }
  
  .content-table thead tr{
    
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td{
    padding: 12px 15px;
  }
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
  }
